%div.center.jumbotron 
	%h1 Apply to be an Instacart Shopper today!

	%div.form-list
		%div.form-item 
			%div.form-item-title  Flexibility
			%div.form-item-content Fit work around your own life. Set your availibility each week.
		%div.form-item 
			%div.form-item-title   Make great money
			%div.form-item-content Get paid weekly. Top shoppers make $1,000 a week.
		%div.form-item 
			%div.form-item-title Help people & their families
			%div.form-item-content Get customers their groceries. Shop, deliver, or do it all.	

	= link_to "Apply Now!", "#", :class => "btn btn-lg btn-primary"